<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>Municipalidad de Copiapó</h4>
      <p>Av. Copayapu 1234 – Copiapó, Chile</p>
      <p>Tel: +56 52 2 123456</p>
    </div>

    <div class="footer-section">
      <h4>Enlaces rápidos</h4>
      <ul>
        <li><a href="https://www.portaltransparencia.cl/PortalPdT/pdtta?codOrganismo=MU066">Transparencia</a></li>
        <li><a href="#">Trámites en línea</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Síguenos</h4>
      <div class="social">
        <a href="https://www.facebook.com/municopiapo/?locale=es_LA">Facebook</a> |
        <a href="https://x.com/copiapooficial?lang=es">Twitter</a> |
        <a href="https://www.instagram.com/municipalidadcopiapo/?hl=es">Instagram</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 Municipalidad de Copiapó – Todos los derechos reservados
  </div>
</footer>
